@model ГеймерShop.Models.Game

<div class="header-game"></div>
<div class="container panel text-game">
    <div class="row pt-3">
        <div class="col-3">
            <div class="row justify-content-center">
                <img class="mt-3" src="data:image/jpeg;base64,@(Convert.ToBase64String(Model.Picture.Image))" width="215" height="315">
            </div>
            <div class="row justify-content-center pt-5 pb-5">
                <div class="col">
                    <div class="row justify-content-center">
                        <button onclick="AddInCart(@Model.Id)" class="btn btn-outlined btn-game">В корзину</button>
                    </div>
                    <div class="row justify-content-center mt-1">Br @Model.Price</div>
                </div>
            </div>
        </div>
        <div class="col-9">
            <div class="col">
                <div class="row mt-1">
                    <h1>@Model.Name</h1>
                </div>
                <div class="row">
                    <div class="col-7">
                        <dl>
                            <dt>Системные требования</dt>
                            <dd>ОС: @Model.SystemRequirements.OS </dd>
                            <dd>Процессор: @Model.SystemRequirements.CPU </dd>
                            <dd>ОЗУ: @Model.SystemRequirements.RAM </dd>
                            <dd>Видеокарта: @Model.SystemRequirements.GPU </dd>
                            <dd>Место на диске: @Model.SystemRequirements.Memory </dd>
                        </dl>
                    </div>
                    <div class="col-5">
                        <dl>
                            <dt>Жанр</dt>
                            <dd>@Model.Genre.Name</dd>
                            <dt>Игровая площадка</dt>
                            <dd>@Model.PlaingField.Name</dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
