@model ГеймерShop.Models.Cart
<div class="header-game"></div>
<div class="container panel">
    @if (Model == null)
    {
        <div class="row justify-content-center">
            <span class="text-game pt-5 pb-5">Ваша корзина пуста!</span>
        </div>
    }
    else
    {
        <table class="table text-game">
            <thead>
                <tr>
                    <th class="w-60">
                        Товар
                    </th>
                    <th class="w-20">
                        Цена
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model.Lines())
                {
                    <tr>
                        <td class="w-60">
                            @item.Game.Name
                        </td>
                        <td class="w-20">
                            @item.Count x @item.Game.Price
                        </td>
                        <td>
                            <a asp-action="Remove" asp-route-id="@item.Game.Id">Убрать</a>
                        </td>
                    </tr>
                }

            </tbody>
            <tfoot>
                <tr>
                    <td class="text-right">
                        Итого:
                    </td>
                    <td>
                        @Model.GetSum()
                    </td>
                </tr>
            </tfoot>
        </table>

        <div class="row justify-content-center pt-3 pb-5">
            <a type="button" asp-controller="MyCart" asp-action="PaymentInfo" class="btn btn-outlined btn-game"> Оплатить </a>
        </div>

    }
</div>
